{% extends "layout.html" %}
{% block body %}
  <h2>Add Bill</h2>
  {% if error %}<p class=error><strong>Error:</strong> {{ error }}{% endif %}
  <form action="{{ url_for('______') }}" method=post>
    <dl>
      <dt>Bill Name:
      <dd><input type=text name=billname>
      <dt>Category:
      <dd>
      	<select>
  			<option value="food">Food</option>
  			<option value="utilities">Utilities</option>
  			<option value="supplies">Supplies</option>

      <dd><input type=submit value=Login>
    </dl>
  </form>
{% endblock %}