{% extends "layout.html" %}
{% block body %}
  <h2>Add Bill</h2>
  {% if error %}<p class=error><strong>Error:</strong> {{ error }}{% endif %}
  <form action="{{ url_for('add_bill') }}" method=post class=add-bill>
    <dl>
      <dt>Bill Name:
      <dd><input type=text name=billname>

      <dt>Category:
      <dd>
      	<select name=category>
  			<option value="food">Food</option>
  			<option value="utilities">Utilities</option>
  			<option value="supplies">Supplies</option>
  		<dd>

  		<dt>Frequency per Month:
      	<dd><input type=number name=frequency>

      <dt>Cost:
      	<dd><input type=number name=cost>

      <dd><input type=submit value=Submit>

    </dl>
  </form>
{% endblock %}